<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>masonty layout</title>
    <link rel="stylesheet" href="masonty_style.css">
  </head>
  <body>
    <h1>Example</h1>
    <div id="columns">
      <figure>
        <img src="http://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/cinderella.jpg">
        <figcaption><div>Cinderella wearing European fashion of the mid-1860’s</div></figcaption>
      </figure>

      <figure>
        <img src="http://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/rapunzel.jpg">
        <figcaption><div>Rapunzel, clothed in 1820’s period fashion</div></figcaption>
      </figure>

      <figure>
        <img src="http://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/belle.jpg">
        <figcaption><div>Belle, based on 1770’s French court fashion</div></figcaption>
      </figure>

      <figure>
        <img src="http://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/mulan_2.jpg">
        <figcaption><div>Mulan, based on the Ming Dynasty period</div></figcaption>
      </figure>

      <figure>
        <img src="http://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/sleeping-beauty.jpg">
        <figcaption><div>Sleeping Beauty, based on European fashions in 1485</div></figcaption>
      </figure>

      <figure>
        <img src="http://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/pocahontas_2.jpg">
        <figcaption><div>Pocahontas based on 17th century Powhatan costume</div></figcaption>
      </figure>

      <figure>
        <img src="http://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/snow-white.jpg">
        <figcaption><div>Snow White, based on 16th century German fashion</div></figcaption>
      </figure>

      <figure>
        <img src="http://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/ariel.jpg">
        <figcaption><div>Ariel wearing an evening gown of the 1890’s</div></figcaption>
      </figure>

      <figure>
        <img src="http://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/tiana.jpg">
        <figcaption><div>Tiana wearing the <i>robe de style</i> of the 1920’s</div></figcaption>
      </figure>
    </div>
  </body>
</html>

<!--
figure: 삽화의 정보들을 그룹핑 해 줌
  -->
